<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <title>Lab ICO</title>

    <!-- CSS -->
    
</head>
<body>
    <h1>Bienvenido a mi ICO :)</h1><br>
    <p>Favor enviar la cantidad de ETH deseada a la siguiente dirección:</p>
    <h4>0x1CE8c44d9F45A7b89d3aF5E4648e320416f731A0</h4><br><br>

    <form action="/" method="post" >                 
        <label>ETH Account:</label><br>
        <input type="text" id="account" name="account"><br>
        <label>Private Key:</label><br>
        <input type="text" id="pk" name="pk"><br>
        <label>Amount:</label><br>
        <input type="text" id="amount" name="amount"><br>
        
        <p>Puedes agregar el Token automaticamente a metamask haciendo click en el botón:</p>
        <button type="submit">Agregar Token</button>
        
    </form>
</body>
</html>
